* {
  margin: 0;
  padding: 0;
}

header {
  height: 100px;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

#map {
  width: 100%;
  height: calc(100vh - 100px);
  padding-right: 0;
}

.leaflet-popup-content {
  padding-right: 0;
}

.leaflet-control-layers-expanded {
  background-color: #fcfcfc;
}
